<div id="root">
</div>

<div class="map-frame mt-5">
  <iframe
    width="100%"
    height="600px"
    marginwidth="0"
    marginheight="0"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/d/u/0/embed?mid=1psUWcgSBqR95RYS63M1xfpSwQI7Q90E8" allowfullscreen>
  </iframe>
</div>

